body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.btns{
    display: flex;
    justify-content: center;
}
.winner { 
    color: green;
}
.loser{
    color: red;
}